body {
  background-color: powderblue;
}
p {
  background-color: lightblue;
  color: white;
}
h1 {
  background-color: grey;
  color: white;
  font-family: verdana;
  font-size:100%
  text-align: center;
}
h2 {
  background-color: grey;
  color: white;
  font-family: verdana;
  font-size: 100%
}
#myHeader {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}
.steps {
  background-color: grey;
  color: white;
  padding: 10px;
}
.container {
  width: 80%;
  margin: 0 auto; /* Centers the container horizontally */
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
